
body {
	font-size: calc(16px + 1vw);
	line-height: calc(1.1em + 0.5vw);
}
.faq {
	padding-bottom: 15px;
	background: linear-gradient(#F0AF4A, #F8BA99 65%);
}
.faq .faq-banner {
	display: grid;
	grid-template-columns: 6fr 1fr 6fr;
	margin-bottom: 4rem;
}
.faq .faq-banner > div {
	min-height: 20vw;
	max-height: 54px;
	margin: 50px 0 0 0;
	display: flex;
}
.faq .faq-banner > div > span {
	font-weight: bold;
	font-family: 'Sulphur Point', regular, sans-serif;
	font-size: calc(8rem + .8vw);
	margin-left: 1.5vw;
}
.faq .faq-banner .grid-column-1 {
	background: #DB870A;
	margin-left: 2vw;
}
.faq .faq-banner .grid-column-2 {
	background: #E49F36;
	border-radius: 50px;
	max-height: 67px;
	transform: scale(1.2);
}
.faq .faq-banner .grid-column-2 > span {
	align-self: center;
}
.faq .faq-banner .grid-column-3 {
	background: #D36210;
	margin-right: 2vw;
	justify-content: flex-end;
}
.faq .faq-banner .grid-column-3 > span {
	align-self: flex-end;
	margin-right: 1.5vw;
}

.faq .faq-banner .grid-column-1,
.faq .faq-banner .grid-column-3 {
	border-radius: 20px;
}

.faq-block {
	max-height: 1570px;
}
.faq-block .accordion {
	margin: 0 5vw;
}
.faq-block  .accordion .card {
	background: #F0AF4A;
	border-radius: 20px!important;

}
.faq-block .accordion .card .card-body {
	font-weight: bold;
   background: #9C6818;
   color: white;
	font-size: calc(.8em + .4vw);
}
.faq-block .accordion .card .card-header button {
	display: flex;
   justify-content: space-between;
	margin-left: 0!important;
	font-size: calc(.5em + .4vw);
}
.faq-block .accordion .card .card-header button > span {
	 transform: scale(1.5);
    margin-right: .2em;
    padding-bottom: .2em;
	 margin-left: 1.2em;
}
.faq-block .accordion .card:hover {
	background-color: #bd9350;
}

.offer {
	padding-bottom: 15px;
	font-family: 'Oswald', sans-serif;
}
.offer .offer-block {
	background: #ffebb9;
	margin: 3rem;
	border-radius: 120px;
	padding-bottom: 3rem;
}
.offer .offer-block .header {
	display: block;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	padding-top: 1.2rem;
}
.offer .offer-block .your-wish {
	display: block;
	text-align: center;
	padding: 10px 20px;
	border-radius: 20px;
	background: #ffd951 60%;
	font-size: calc(1.2rem + .4vw);
	margin: 2rem 3rem;;
}
.offer .offer-block .contact-block {
	display: flex;
	justify-content: space-between;
	margin: 0 4vw;
}
.offer .offer-block .contact-block .left-block-input,
.offer .offer-block .contact-block .right-block-input {
	display: flex;
   flex-direction: column;
	margin: 2rem 0;
	width: 45%;
}
.offer .offer-block .contact-block .left-block-input label,
.offer .offer-block .contact-block .right-block-input label {
	font-size: calc(1.4rem + .4vw);
	margin-bottom: .8rem;
}
.offer .offer-block .contact-block input {
	background: #FECA12;
	height: 3.5rem;
	border: none;
	border-radius: 10px;
	outline: none;
	padding-left: 10px;
	font-size: 1.3rem;
}
.offer .offer-block .contact-block input:hover {
	box-shadow: -1px 0px 6px 3px;
}
.offer .offer-block .contact-block input::placeholder,
.offer .offer-block textarea::placeholder {
	color: #6e5d1c;
	font-family: 'Times New Roman', Times, serif;
}
.offer .offer-block .contact-block input:focus,
.offer .offer-block textarea:focus {
	background: #c99f07;
}
.offer .offer-block .choose {
	font-size: 3rem;
	display: block;
	text-align: center;
	margin: 1.2rem 0;
}
.offer .offer-block .select-list {
	text-align: center;
	margin: 0 5vw;
}
.offer .offer-block .select-list .card-body {
	background: #ffebb9;
	border: none;
}
.offer .offer-block .select-list .card-body select {
	background: #ffebb9;
	border: 1px solid black;
}

.offer .offer-block textarea {
	display: block;
	margin: 2.5rem auto;
	width: 90%;
	min-height: 200px;
	border-radius: 30px;
	outline: none;
	padding: 1rem;
	font-size: calc(1rem + .4vw);
	background: #FECA12;
	border: none;
}
.offer .offer-block textarea:hover {
	box-shadow: -1px 0px 6px 3px;
}

.offer .offer-block .pre-buttons-breef-block {
	display: flex;
	flex-direction: column;
	margin: 2.5rem auto;
	width: 90%;
}
.offer .offer-block .pre-buttons-breef-block .breef {
	font-size: calc(1.6rem + .4vw);
   margin-bottom: .4rem;
}
.offer .offer-block .pre-buttons-breef-block .description {
	font-size: calc(1rem + .2vw);
   margin-bottom: .4rem;
}
.offer .offer-block .buttons-breef-block {
	display: flex;
	justify-content: space-between;
	margin: 2.5rem auto;
	width: 90%;
	align-items: center;
}
.offer .offer-block .buttons-breef-block button,
.offer .offer-block .button-submit {
	width: calc(20rem + .4vw);
	min-height: calc(2rem + 4.6vh);
	border: none;
	margin-right: 3rem;
	background: linear-gradient(#FECA12 50%, #FF9D0A);
	border-radius: 20px;
}
.offer .offer-block .button-submit {
	display: block;
	margin: 0 auto;
}
.offer .offer-block .buttons-breef-block button a,
.offer .offer-block .button-submit {
	color: black;
	text-decoration: none;
	font-size: calc(0.7rem + 0.9vw);
}
.offer .offer-block .buttons-breef-block button a:hover,
.offer .offer-block .button-submit:hover {
	color: white;
}
.offer .offer-block .buttons-breef-block button:hover,
.offer .offer-block .button-submit:hover {
	background: linear-gradient(#a58615 50%, #966214);
}

.footer-offer .offer-flex-block {
	display: flex;
	justify-content: space-between;
	padding: 2rem 5vw;
}
.footer-offer .offer-flex-block span > a {
	text-decoration: none;
}
.footer-offer .offer-flex-block span {
	font-size: calc(1rem + 0.6vw);
}
.footer-offer .icons-offer a {
	margin-right: calc(2.4rem + 1vw);
}
.footer-offer .icons-offer i {
	transform: scale(2);
}
.footer-offer .icons-offer a:last-child {
	margin: 0;
}
.footer-offer .offer-flex-block span a:hover,
.footer-offer .icons-offer i:hover {
	color: white;
}

@media screen and (max-width: 1000px) {
.faq .faq-banner > div > span {
	font-size: 64px;
	}
.footer-offer .icons-offer i {
	transform: scale(1.5);
	}
}
@media screen and (max-width:780px) {
.offer .offer-block {
	margin: 1rem 1rem 2rem 1rem;
}
.offer .offer-block .contact-block {
	display: flex;
   margin: 0 4vw;
   flex-direction: column;
}
.offer .offer-block .contact-block .left-block-input,
.offer .offer-block .contact-block .right-block-input {
	width:100%;	
	margin: .6rem 0;
}
.offer .offer-block .contact-block .left-block-input label,
.offer .offer-block .contact-block .right-block-input label {
	font-size: calc(1.1rem + .4vw);
}
.offer .offer-block .header,
.offer .offer-block .choose {
	font-size: calc(2.2rem + .4vw);
}
.offer .offer-block .buttons-breef-block {
	flex-direction: column;
}
.offer .offer-block .pre-buttons-breef-block .breef {
	font-size: calc(1.3rem + .4vw);
}
.offer .offer-block .buttons-breef-block button {
	width: 100%;
	margin: 0 0 2rem 0;
}
.offer .offer-block .button-submit {
	width: 85%;
}
}
@media screen and (max-width: 620px) {
	.offer .offer-block .header,
	.offer .offer-block .choose {
		font-size: calc(1.5rem + .4vw); 
	}
.footer-offer .offer-flex-block  {
	flex-direction: column;
	}
.footer-offer .offer-flex-block .icons-offer {
	margin-top: 2rem;
	align-self: center;
	}
.footer-offer .offer-flex-block span {
	text-align: center;
	transform: scale(1.2);
}
}
@media screen and (max-width: 460px) {
	.faq .faq-banner > div > span {
		font-size: 32px;
	}
}



